<p><img src="https://logo.stocklight.com/ASX/WBC_original.png" alt="DBS logo" width="325" height="54" />&nbsp;</p>
<table style="height: 185px; width: 630px;">
<tbody>
<tr>
<td style="width: 160px;">Date</td>
<td style="width: 454px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 160px;">Application</td>
<td style="width: 454px;">{$businessService}</td>
</tr>
<tr>
<td style="width: 160px;">Overall Incident Status</td>
<td style="width: 454px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 160px;">Priority</td>
<td style="width: 454px;">{$priority}</td>
</tr>
<tr>
<td style="width: 160px;">Severity</td>
<td style="width: 454px;">{$severity}</td>
</tr>
<tr>
<td style="width: 160px;">Incident Number</td>
<td style="width: 454px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 160px;">Incident Summary</td>
<td style="width: 454px;">{$incidentSummary}</td>
</tr>
<tr>
<td style="width: 160px;">&nbsp;</td>
<td style="width: 454px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 160px;">Latest Update:</td>
<td style="width: 454px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 160px;">&lt;time class="mdate"&gt;This will be replaced with the date modified.&lt;/time&gt;</td>
<td style="width: 454px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 160px;">Previous Updates:</td>
<td style="width: 454px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 160px;">&nbsp;</td>
<td style="width: 454px;">
<p>{$previousUpdates}</p>
</td>
</tr>
</tbody>
</table>

<p>Westpac Incident Management</p>